/*------------------------------------------------------------------------//
//------------------------------- Widgets --------------------------------//
//------------------------------------------------------------------------*/
/** External widgets **/
.widget-container {
    display       : flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 20px 0px;
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.54) !important;
}
.indicator-container {
    display       : flex;
    height: 100px;
    margin: 40px 20px 0px;
}
.widget-image{
    background-color : #D73F3F;
    width            : 80px;
}
.widget-text{
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    margin          : 0 auto;
    padding         : 10px;
}
/* Code added by Varun Bhandia */
/* Will change the properties on mobile */
@media screen and (max-width: 600px) {
    .widget-container {
        height: auto !important;
    }
  }

/* Code ended */